body {
  background-color: #415F75;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", sans-serif;
  color: #F2FAFF;
  font-weight: bolder;
}

a:link, a:visited {
    color: #F2FAFF;
}

.w3-xxlarge {
  color: #F2FAFF;
}

.w3-row-padding img {
  margin-bottom: 12px;
}
/* Set the width of the sidebar to 120px */
.w3-sidebar {
  width: 120px;
  background: #394955;
  color: #FAF8FF;
}

p {
  color: #FAF8FF;
}

}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
  margin-left: 120px;
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}

footer, footer + a {
  color: #91AFC7;

};

.Projects {
  text-align: center;
}

/* .carousel-caption {
  background-color: #415F75;
  opacity: 0.8;
} */

.carousel-item img {
  max-height: 400px;
  max-width: 300px;
  padding-bottom: 20px;
}

.carousel-control-prev {
  margin-left: 15%;
}

.carousel-control-next {
  margin-right: 15%;
}
