body {
        background-color: #C0C0C0;
    }
p {
  font-family: 'Overlock', cursive;
  color: #DC143C;
}
h1 {
  font-family: 'Overlock', cursive;
  color: #00008B;
  text-align: center;
}
h2 {
  font-family: 'Overlock', cursive;
  color: #483D8B;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
